<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ControladorUsu</servlet-name>
        <servlet-class>Controlador.ControladorUsu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorImg</servlet-name>
        <servlet-class>Controlador.ControladorImg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Operaciones</servlet-name>
        <servlet-class>Modelo.Operaciones</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorAdm</servlet-name>
        <servlet-class>Controlador.ControladorAdm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorEst</servlet-name>
        <servlet-class>Controlador.ControladorEst</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorMaterias</servlet-name>
        <servlet-class>Controlador.ControladorMaterias</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorHorarios</servlet-name>
        <servlet-class>Controlador.ControladorHorarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorAulas</servlet-name>
        <servlet-class>Controlador.ControladorAulas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorGrupos</servlet-name>
        <servlet-class>Controlador.ControladorGrupos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorSeminarios</servlet-name>
        <servlet-class>Controlador.ControladorSeminarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorCarreras</servlet-name>
        <servlet-class>Controlador.ControladorCarreras</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorNotas</servlet-name>
        <servlet-class>Controlador.ControladorNotas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorInscripciones</servlet-name>
        <servlet-class>Controlador.ControladorInscripciones</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Reporte</servlet-name>
        <servlet-class>Controlador.Reporte</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>p</servlet-name>
        <servlet-class>Controlador.p</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControladorUsu</servlet-name>
        <url-pattern>/ControladorUsu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorImg</servlet-name>
        <url-pattern>/ControladorImg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Operaciones</servlet-name>
        <url-pattern>/Operaciones</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorAdm</servlet-name>
        <url-pattern>/ControladorAdm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorEst</servlet-name>
        <url-pattern>/ControladorEst</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorMaterias</servlet-name>
        <url-pattern>/ControladorMaterias</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorHorarios</servlet-name>
        <url-pattern>/ControladorHorarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorAulas</servlet-name>
        <url-pattern>/ControladorAulas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorGrupos</servlet-name>
        <url-pattern>/ControladorGrupos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorSeminarios</servlet-name>
        <url-pattern>/ControladorSeminarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorCarreras</servlet-name>
        <url-pattern>/ControladorCarreras</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorNotas</servlet-name>
        <url-pattern>/ControladorNotas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorInscripciones</servlet-name>
        <url-pattern>/ControladorInscripciones</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Reporte</servlet-name>
        <url-pattern>/Reporte</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>p</servlet-name>
        <url-pattern>/p</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
